@import '../abstract/variaveis';

#servicos{
    margin: 80px;
    .servicos-titulo{
        text-align: center;
        h3{
            display: inline-block;
            border-bottom: 2px solid $cor-secundaria;
            text-align: center;
            font-size: $tamanho-fonte / 2;
            color: $cor-secundaria;
            text-transform: uppercase;
            font-weight: 300;
        }
    }

    h4{
        font-size: $tamanho-fonte / 1.5;
        color: $cor-primaria;
        padding: 20px;
        text-align: center;
    }

    .cards{
        display: flex;
        justify-content: space-evenly;
        .card{
            width: 360px;
            text-align: center;
            .card-img{
                margin: 10px;
                padding-bottom: 8px;
                border-bottom: 2px solid $cor-secundaria;
                img{
                    max-width: 100%;
                }
            }
            h5{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: $tamanho-fonte / 2;
                color: $cor-secundaria;
            }
            p{
                font-size: $tamanho-fonte / 3;
                color: $cor-primaria;
                line-height: 1.25rem;
            }
        }
    }
}